#myTasks h1{
    text-align: center;
}
#myTasks div:first-of-type{
    display: flex;
}
#myTasks div:first-of-type span{
    flex: 1;
    font-size: 15px;
}
#prev{
    text-align: left;
}
#date{
    text-align: center;
}
#next{
    text-align: right;
}
#myTasks table{
    width: 100%;
    text-align: center;
}
#myTasks table thead{
    background-color: #fe5452;
    color: white;
}
#myTasks table th{
    padding: 8px;
    font-size: 19px;
}
#myTasks table tbody td{
    padding: 10px 0;
    font-size: 16px;
}
