#headerNav{
    background-color: #fe5452;
}
#headerNav a:not(#logOut){
    color: white;
}
#myTasks h1{
    text-align: center;
}
#myTasks > div:last-of-type{
    display: flex;
}
#prev, #next{
    flex: 0.1;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
#date{
    flex: 1;
    text-align: center;
}
#date span{
    display: block;
}
#date span:first-of-type{
    font-size: 19px;
}
#openModal{
    font-size: 17px;
    color: #fe5452;
}
#openModal{
    text-shadow: 1px 0px 2px #c8c8c8;
    cursor: pointer;
}
#myTasks table{
    width: 100%;
    text-align: center;
    border: 1px solid #e8e8e8;
}
#myTasks table thead{
    background-color: #fe5452;
    color: white;
}
#myTasks table th{
    padding: 8px;
    font-size: 19px;
}
#myTasks tr:nth-child(2n){
    background-color: #fdfdfd;
}
#myTasks table tbody td{
    padding: 10px 0;
    font-size: 16px;
}
#stat{
    display: flex;
    margin-top: 2em;
}
#stat section{
    flex: 1;
    text-align: center;
    font-size: 24px;
    padding: .5em 0;
    background-color: #fe5452;
    color: white;
    margin: 0 15px;
    border-radius: 15px;
}
#modal form div:not(.modal-footer){
    margin: 10px 0;
}
#modal form input:not([type=submit]){
    width: 50%;
    margin-left: 25%;
}
